body{
	font-family: Arial;
}
.wrap{
	width: 960px;
	margin: 50px auto;
	text-align: center;
}
.titles{
	display: inline-block;
}
h1, h2, h3{
	margin: 0;
	text-transform: uppercase;
	text-align: left;
}
.title-1{
	font-size:60px;
	color: #5dc390;
	margin-left: -10px;
}
.title-2{
	font-size: 1.45em;
	color: #3285cd;
}
.btn-wrap{
	text-align: center;
	padding-top: 20px;
}
.btn{
	color: #fff;
	padding: 10px 20px;
	background-color: #585858;
	border-radius: 20px;
	text-decoration: none;
}